In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
path = "C:/Users/Pedro Argento/Documents/Mestrado - Dissertação/data/"

In [9]:
pd.read_excel('.\\data\\Curva Forward\\2019-03-01_15-12-06_Evolucao_historica_da__Media__na_serie_M__1_na_fonte_Convencional_SE_.xlsx', index_col=0, skiprows=[0,1,2], header = None)

             1       2
0
s01    01/2012   50.43
s02    01/2012   40.25
s03    01/2012   30.97
s04    01/2012   30.19
s05    01/2012   34.53
s06    02/2012   49.32
s07    02/2012   65.41
s08    02/2012   71.63
s09    02/2012   77.78
s10    03/2012  115.24
s11    03/2012  143.93
s12    03/2012  149.26
s13    03/2012  142.79
s14    04/2012  185.80
s15    04/2012  210.00
s16    04/2012  215.58
s17    04/2012  214.35
s18    04/2012  197.25
s19    05/2012  188.85
s20    05/2012  183.00
s21    05/2012  195.50
s22    05/2012  186.96
s23    06/2012  158.60
s24    06/2012  142.83
s25    06/2012  119.20
s26    06/2012   94.79
s27    07/2012   79.91
s28    07/2012   98.11
s29    07/2012  108.56
s30    07/2012  110.53
...        ...     ...
s32    08/2018  453.69
s33    08/2018  468.00
s34    08/2018  461.12
s35    08/2018  465.76
s36    09/2018  369.52
s37    09/2018  341.86
s38    09/2018  271.85
s39    09/2018  297.23
s40    10/2018  218.43
s41    10/2018  197.68
s42    10/2018  166.91
s43    10/2018  125.50
s44    10/2018  147.11
s45    11/2018  117.67
s46    11/2018   86.40
s47    11/2018   80.99
s48    11/2018   60.73
s49    12/2018   95.70
s50    12/2018  104.17
s51    12/2018  103.85
s52    12/2018  152.35
s01    12/2018     NaN
s02    01/2019  261.45
s03    01/2019  231.05
s04    01/2019  316.55
s05    01/2019  403.14
s06    02/2019  364.76
s07    02/2019  311.56
s08    02/2019  364.02
s09    02/2019  277.89

[374 rows x 2 columns]